<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LemonwayWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="LemonwayWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44387/LemonwayWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LemonwayWebServiceSoap"
                contract="LemonwayServiceReference.LemonwayWebServiceSoap"
                name="LemonwayWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>